{% extends "header_full.html" %}

{% block css_style %}
    {{ super() }}
    <link href="{{url_for('static', filename='css/menu.css')}}?v=9" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/error.css')}}?v=4" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
   <div class="message">
      <h1>Кто-то скушал эту страничку!</h1><br>
      <h2>Вы здесь потому что запрашиваемая Вами страница не найдена..<br><br>
          Это могло произойти по двум причинам: <br>
          1) Данный адрес больше недоступен <br>
          2) Вы ввели этот адрес в строке браузера по ошибке <br><br>
          Проверьте корректность ввода ... <br>
          Снова здесь? <br> Скорее всего, данный адрес больше не существует.. Вернитесь на главную страницу <br><br>
      </h2>
       <img src="../static/images/error/404_1.jpg">
   </div>
{% endblock %}

