<!DOCTYPE html>
<html style="font-size: 100%; width: 600px; margin: 0 auto; padding: 0; color: #5B3718; font-family: 'Arial Narrow'">
<head>
    <meta charset="UTF-8"/>
    <title>Шахматная школа</title>
</head>

<body>
    <main style="width: 600px; margin: 0 auto; padding: 20px 30px; background-color: #EEB815; font-family: 'Arial Narrow'; color: black;">

        <article style="width: 536px; margin: 0; padding: 20px 30px; background-color: #FFFFFF; line-height: 35px; border: 3px solid #D9DBDE;">
            <p style="font-size: 32px; text-align: center; font-family: 'Oranienbaum'; color: black">
                Здравствуйте! </p>
            <p style="font-size: 20px; text-align: center">Благодарим Вас за обращение в службу поддержки!<br>
                Ваш запрос получен и обрабатывается. <br>
                Мы ответим Вам в течение рабочего дня.

                 <br>
            </P>--<br>
            С уважением,<br>
                Шахматная школа</p>
        </article>
    </main>
</body>
