{% extends "header_full.html" %}

{% block css_style %}
{{ super() }}
    <link href="{{url_for('static', filename='css/history.css')}}?v=1" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/quote.css')}}?v=1" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    {{ super() }}
    <article>
        <div class="mb-wrap mb-style-3">
            <div class="mb-thumb"></div>
            <blockquote cite="http://levico.ru/citaty-shaxmaty/">
                <p>Шахматы, подобно музыке, или любому другому искусству, способны делать человека счастливым.</p>
            </blockquote>
            <div class="mb-attribution">
                <p class="mb-author">Зигберт Тарраш</p>
            </div>
        </div>
        <p>В 2011 году на базе городского шахматного клуба мы начали занятия с маленькими детьми (3-4 года) по новому стандарту.
            Наш проект включал в себя комплексное развитие интеллекта: изучение шахмат на профессиональном уровне и развитие логики, памяти и внимания.
            Главная цель – воспитание спортсменов международного уровня.</p><br>
        <p>Автор проекта Анатолий Николаевич Терёхин. В его основу был заложен опыт работы со спортивным шахматным классом в Гимназии № 17 города Перми, где
            были использованы упражнения по развитию логики, памяти и внимания. Большинство выпускников этого класса окончили школу с золотыми медалями.</p><br>
        <p>В первый год был небольшой набор, всего 30 детей. Сейчас детей занимающихся по новому стандарту значительно больше. Приятно видеть радостные лица детей,
            получающих удовольствие от занятий, соревнований и побед; лица родителей, когда они радостно сообщают, что детям нравится и это приносит результаты.
            Наши воспитанники - дошкольники поступают в лучшие школы Перми, с легкостью сдавая вступительные тесты.</p><br>
        <p>Скоро пришли первые результаты на соревнованиях приволжского федерального округа и на российской арене, было очевидно, что это не предел.
            Общая атмосфера доброжелательности, здоровой спортивной конкуренции, наряду с высоким профессионализмом тренеров обещает в будущем по-настоящему
            высокие результаты и на международном уровне.</p><br>
        <p>Маленький проект, в который поначалу мало, кто верил, который было очень трудно начать и запустить, вырос в серьезное дело, призванное приносить
            добро и радость, попутно выковывая из маленьких ребят чемпионов и сильных личностей с высокой общей культурой и эрудицией.</p><br>
        <p>За пять лет реализации нашего проекта был получен удивительный результат. Наши ученики превосходят своих сверстников в освоении школьных наук.
            Некоторые из них стали победителями различных олимпиад и уже сейчас оканчивают начальную школу с золотыми медалями.</p><br>
        <p>О нашей идее и ее воплощении услышали в других регионах нашей страны. К нам стали приезжать, перенимать опыт и реализовывать подобный проект в своих регионах.
            У нас побывали представители Московской области, Удмуртии, Самары и Саранска. Мы с удовольствием делимся, поскольку умные, мотивированные
            и эрудированные дети есть достояние целой нации.</p><br>
        <p>В 2013 году у нас появилась замечательная традиция оздоравливать детей летом на Черном море.</p><br>
        <p>Мы стараемся добиться того, чтобы процесс обучения был всесторонним. Наша цель была и остается очень простой — мы хотим, чтобы ребенок в игровой манере развивался.
            Не забываем мы и о физическом развитии, для чего несколько раз в году проводятся учебно-тренировочные сборы (в городе Чайковском на базе отдыха
            Раздолье и на черноморском побережье).</p><br>
        <p>В настоящее время у нас два филиала: в центре города (ул. Куйбышева, 54) и в районе ДКЖ (ул. Боровая, 32).</p><br>
        <p>Конечно, мы не собираемся останавливаться на достигнутом, хотя нам уже семь лет, мы все еще молодая организация,
            которая полна надежд и оптимизма. Мы уверены, что все еще только начинается!</p><br>
    </article>
{% endblock %}