<!DOCTYPE html>
<html style="font-size: 100%; width: 600px; margin: 0 auto; padding: 0; color: #5B3718; font-family: 'Arial Narrow'">
<head>
    <meta charset="UTF-8"/>
    <title>Шахматная школа</title>
</head>

<body>
    <main style="width: 600px; margin: 0 auto; padding: 20px 30px; background-color: #EEB815; font-family: 'Arial Narrow'; color: black;">
        <img src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/gbqCNzyNGjCdbw">
        <article style="width: 536px; margin: 0; padding: 20px 30px; background-color: #FFFFFF; line-height: 35px; border: 3px solid #D9DBDE;">
            <p style="font-size: 32px; text-align: center; font-family: 'Oranienbaum'; color: black">Здравствуйте, {{ parent_name }} !</p>
            <p style="font-size: 20px; text-align: center">Информируем Вас о том, что доступ в личный кабинет восстановлен. <br>
                Пожалуйста, погасите задолженность в размере {{ debt }} рублей.<br> <br>

                Ваши Логин и пароль не изменились, но если Вы их забыли, то получить новые Вы сможете,
                нажав на кнопку "Я забыл пароль" и введя в появившемся окне свой e-mail. <br> <br>

                В случае возникновения вопросов, можете связаться с нами по электронной почте (chesschoolperm@gmail.com)
            </P>
            <div style="margin: 0 auto;">
                <a href="https://www.шахматыпермь.рф/log_in" align="center" style="padding: 2%; margin: 0 auto; width: 300px; border: 3px solid #D9DBDE; display: block; color: black; text-decoration: none;font-size: 20px; background: #EEB815; font-family: Items; cursor: pointer;">ПЕРЕЙТИ В ЛИЧНЫЙ КАБИНЕТ</a></div>
            <p style="font-size: 18px">С уважением,<br>
                Шахматная школа</p>
        </article>
    </main>
</body>
