<!DOCTYPE html>
<html style="font-size: 100%; width: 600px; margin: 0 auto; padding: 0; color: #5B3718; font-family: 'Arial Narrow'">
<head>
    <meta charset="UTF-8"/>
    <title>Шахматная школа</title>
</head>


<body>
    <main style="width: 600px; margin: 0 auto; padding: 20px 30px; background-color: black; font-family: 'Arial Narrow'; color: #8B8B8B;">
            <img src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/gbqCNzyNGjCdbw">
            <article style="width: 540px; margin: 0; padding: 20px 30px; background-color: #FFFFFF; line-height: 35px;">
            <p style="font-size: 32px; text-align: center; font-family: 'Oranienbaum'; color: #401F13">Здравствуйте, {{ parent_name }} !</p>
            <p style="font-size: 20px; text-align: center">Мы хотим поделиться нашей с Вами общей радостью!<br>Шахматная школа получила лицензию на осуществление образовательной деятельности.<br><br>
                </p>
                <p>
                    Теперь Вы можете снизить финансовую нагрузку за обучение детей, посредством налогового вычета в размере 13%.
                    В дальнейшем мы надеемся на получение финансирования для организации бюджетных мест для одаренных детей. <br>
                    Одним из критериев отбора будет наличие высокого спортивного разряда.
                    25, 26, 28 марта с 11:00 до 14:00 в нашей школе проводится первый турнир на выполнение разрядов. <br>
                    Приглашаем Ваших детей принять участие!
                </p>
            <p style="font-size: 16px">С уважением,<br>
                Шахматная школа</p>
                <img src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/w1erQlYedJ9pGQ" class="icon" width="80px"><br>
            </article>
    </main>
            <article style="width: 600px; margin: 0 auto; padding: 20px 30px; background-color: #F8F8F8">
                <img style="width: 600px" src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/JqgPYvguYps5_Q"><br>
            </article>
</body>



