{% extends "header_full.html" %}

{% block css_style %}
    {{ super() }}
<link href="{{url_for('static', filename='css/news.css')}}?v=24" rel="stylesheet" type="text/css"
      xmlns="http://www.w3.org/1999/html"/>
    <link href="{{url_for('static', filename='css/slider.css')}}?v=2" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
{{ super() }}

<section>
    <h2>Успешное лето</h2>
    <h3>&#9814</h3>
    <div class="successful-summer">
        <p>Летом воспитанники Шахматной школы Анатолия Терехина совмещают отдых с участием в сильных детских соревнованиях.<br><br>
            В этом году наши дети выезжали в <strong>Анапу, Екатеринбург, Суздаль.</strong><br><br>
            В Анапе с 3 июня по 14 июля проводилось сразу три этапа "Шахматных надежд России" в которых, кроме пермяков,
            приняли участие 95 детей из 11 городов России: от Москвы и С-Петербурга до Южно-Сахалинска и Петропавловска-Камчатского.<br><br>
            Наши ученики выступили удачно: на первом этапе <strong>Саша Овчинников</strong> завоевал <strong>золотую медаль</strong>,
            а <strong>Громов Даниил - серебряную.</strong>
            На втором этапе <strong>Даниил стал победителем, а Саша разделил 2-4 места</strong>. <strong>Победителем</strong> третьего этапа
            стал <strong>Георгий Путин</strong>, а <strong>Максим Кошелев</strong>
            был награжден <strong>бронзовой медалью</strong>.<br><br>
            В начале августа <strong>Саша Овчинников</strong> принял участие в Кубке А.Карпова, который проводился в гор.
            Екатеринбурге и поделил <strong>2- 4 место</strong> при 49 участниках. <br><br>
            Успешно выступили наши ребята и в знаменитом "Владимир-Опене" в гор.Суздале 13-18 августа. <strong>Георгий Путин</strong>
            стал <strong>серебряным</strong>, а <strong> Максим Кошелев бронзовым призерами</strong>.<br><br>
            Следующий год будет более напряженным ( 9-10 поездок), но, надеемся, не менее успешным!</p>
        <div>
            <aside class="left"></aside>
            <aside class="right"></aside>
        </div>
    </div>
</section>

<section>
    <h2>Поздравляем с окончанием учебного года!</h2>
    <h3>&#9817</h3>
    <div class="end">
        <div>
            <aside class="left"></aside>
            <aside class="right"></aside>
        </div>
    </div>
</section>

<section>
    <h2>Поздравляем!</h2>
    <h3>&#9813</h3>
    <div class="russia">
        <aside></aside>
        <p>Поздравляем Сивочалова Кирилла<br>(11 место)<br>
            и Кенгурова Ярослава<br>(15 место)<br> из 435 участников,<br>
            а также их тренера<br>
            Бахарева Андрея Ивановича<br>
            с отличным результатом<br>
            на первенстве России<br>
            до 9 лет в городе Кострома
        </p>
    </div>
</section>

<section>
    <h2>Семейный и командный турниры</h2>
    <h3>&#9815</h3>
    <div class="may">
        <div>
            <aside class="left"></aside>
            <aside class="right"></aside>
        </div>
    </div>
</section>

<section>
    <h2>Турнир "Надежды Прикамья"</h2>
    <h3>&#9817</h3>
    <div class="perm-hope">
        <div>
            <aside class="left"></aside>
            <p>Поздравляем наших учеников <strong>Путина Георгия<br>(2-е место),<br>Овчинникова Александра<br>(1-е место!)</strong><br> с отличным результатом в турнире "Надежды Прикамья"</p>
            <aside class="right"></aside>
        </div>
    </div>
</section>

<section class="parallax">
    <h2>Чемпионат Приволжского Федерального Округа по шахматам </h2>
    <h3>&#9812</h3>
    <ul class="important">
        <li></li>
        <li> <h2>Ярослав Кенгуров - чемпион Приволжского Федерального Округа по шахматам !</h2>
            <p>Поздравляем Ярослава, всю семью Кенгуровых и тренера Бахарева Андрея Ивановича
                с 1-м местом на Первенстве Приволжского Федерального Округа<br>(Саратов, 2019)<br>Так держать!
                <a href="https://vk.com/@aib_aib-kengurov-yaroslav-pobeditel-pfo-2019-sredi-malchikov-do-9-le">Как проходил чемпионат</a>
            </p>
            <img src="../static/images/cup.png">
        </li>
    </ul>
    <aside class="full"></aside>
</section>

<section>
    <h2>Шахматная школа получила лицензию на образовательную деятельность!</h2>
    <h3>&#9814</h3>
    <div class="license">
        <p>Это очень долгожданное событие для нас. Теперь Вы можете снизить финансовую нагрузку на обучение детей, посредством налогового вычета в размере 13%.
            В дальнейшем мы надеемся на получение финансирования для организации бюджетных мест для одаренных детей.
        <div>
            <aside class="left"></aside>
            <aside class="right"></aside>
        </div>
    </div>
</section>

<section>
    <h2>Поздравляем победителей первенства Шахматной Школы!</h2>
    <h3>&#9815</h3>
    <div class="school-competitions">
        <aside class="full"></aside>
        <article>
            <ul>
                <li><strong>2008-2010 мальчики</strong></li>
                 <li>Манин Тимофей</li>
                <li>Культин Тихон</li>
                <li>Тиунов Артемий</li>
            </ul>
            <ul>
                <li><strong>2013 девочки</strong></li>
                <li>Ишутова Вика</li>
                <li>Манцурова Маша</li>
                <li>Чупрына Соня</li>
            </ul>
            <ul>
                <li><strong>2011 мальчики</strong></li>
                <li>Шевелёв Юрий</li>
                <li>Соколовский Ярослав</li>
                <li>Стародумов Дмитрий</li>
            </ul>
            <ul>
                <li><strong>2011 девочки</strong></li>
                <li>Душкина Аня</li>
                <li>Малухина Аня</li>
                <li>Гудименко Полина</li>
            </ul>
            <ul>
                <li><strong>мальчики 2013-2014</strong></li>
                <li>Рябов Кирилл</li>
                <li>Берко Максим</li>
                <li>Сычёв Дмитрий</li>
            </ul>
            <ul>
                <li><strong>2009-2010 девочки</strong></li>
                <li>Худякова Маша</li>
                <li>Фетисова Маша</li>
                <li>Манина Даша</li>
            </ul>
        </article>
        <div>
            <aside class="left"></aside>
            <aside class="right"></aside>
        </div>
    </div>
</section>

<section>
    <h2>Поздравляем с серебряными медалями первенства Пермского края!</h2>
    <h3>&#9812</h3>
    <div class="silver">
        <p><strong>Сивочалов Кирилл</strong><br>мальчики до 9 лет<br>
            тренер Бахарев А.И.<br><br>
            <strong>Сухинина Мила</strong><br>девочки до 7 лет<br>
            тренер Терехин А.Н.<br><br>
            <strong>Рябов Кирилл</strong><br>мальчики до 7 лет<br>
            тренер Мальгина Т.И.<br><br>
        <aside></aside>
    </div>
</section>

<!--
<article class="flux">
    <img src="../static/images/news/congret.png">
    <div class="virtual-button">Турнира "Надежда" зима 2019</div>
    <p>
        <aside class="flux">
            <ul class="flux-left">
                <h4>Турнир А(суббота)</h4>
                <h5>2012 год рождения и младше</h5>
                <li>1-е место - Рябов Кирилл</li>
                <li>2-е место - Соколовский Ярослав</li>
                <li>3-е место - Мезенцев Артем</li>
                <h5>2011 год рождения</h5>
                <li>1-е место - Клоц Александр</li>
                <li>2-е место - Кирьянов Александр</li>
                <li>3-е место - Лещенко Виктор</li>
                <h5>Юноши 2011 г.р.</h5>
                <li>1-е место - Стародумов Дмитрий</li>
                <li>2-е место - Бережнев Александр</li>
                <li>3-е место - Соколовский Ярослав</li>
                <h5>СРЕДИ ДЕВОЧЕК</h5>
                <li>1-е место - Лаврентьева Василиса</li>
                <li>2-е место - Малышко Влада</li>
                <li>3-е место - Созина Анастасия</li>
            </ul>
            <ul class="flux-right">
                <h4>Турнир Б(воскресенье)</h4>
                <h5>2011 год рождения</h5>
                <li>1-е место - Ганин Даниил</li>
                <li>2-е место - Соколовский Ярослав</li>
                <li>3-е место - Абакшин Иван</li>
                <h5>2008 год рождения и старше</h5>
                <li>1-е место - Усламин Кирилл</li>
                <li>2-е место - Пархоменко Леонид</li>
                <h5>СРЕДИ ДЕВОЧЕК</h5>
                <li>1-е место - Лузина Виктория</li>
                <li>2-е место - Овчинникова Полина</li>
            </ul>
        </aside>
    </p>
    <div class="virtual-button">Молодцы! Так держать!</div>
</article>  -->

    <section>
        <h2>Кенгуров Ярослав - победитель кубка Пермского края!</h2>
        <h3>&#9816</h3>
        <div class="perm-kray">
            <div>
                <aside class="left"></aside>
                <p>19 и 20 января проходил кубок Пермского края по шахматам. Наш ученик - Ярослав Кенгуров стал победителем среди мальчиков 2011 г.р. и моложе.
                    <br>Поздравляем с блестящей победой!<br>Так держать!</p>
                <aside class="right"></aside>
            </div>
            <aside class="full"></aside>
        </div>
    </section>

    <section>
    <h2>Поздравляем призеров первенства города!</h2>
    <h3>&#9813</h3>
    <div class="pervenstvo">
        <aside></aside>
        <p>В начале января в Перми проходило первенство города. Поздравляем наших учеников с успешным выступлением.
        Желаем дальнейших успехов!<br>
            Овчинников Саша 2 место (гр. 15-17)<br>
            Путин Георгий 3 место (гр. 13)<br>
            Кенгуров Ярослав 2 место (гр. 9)<br>
            Бакиров Лев 2 место (гр. 11)<br>
            Худякова Маша 2 место (гр. 11)<br>
            Манина Даша 3 место (гр. 11)<br>
        </p>
    </div>
    </section>

    <section>
    <h2>Семейный турнир</h2>
    <h3>&#9814</h3>
    <div class="family">
        <p>5 января состоялся семейный турнир. Благодарим все команды за участие.
            С результатами можно ознакомиться
            <a class="result" href="https://drive.google.com/open?id=16XnRCUCP0AzVRw_52CxR_k_jLikxIWdE" target="_blank">ТУТ</a></p>
    <aside></aside>
    </div>
    </section>

    <section>
        <h2>Взрослые шахматы</h2>
        <h3>&#9815</h3>
        <div class="terechin first">
            <aside></aside>
            <p>Набор взрослых с 20 января 2019 года.  Занятия по субботам с 14-30 до 17-30 и 2 потока  по воскресеньям с 10-00 до 13-00 и с 13-30 до 16-30.
                <a href="/future_trends">Новая статья на тему</a></p>
        </div>
    </section>

<section>
<article class="flux">
   <!-- <div class="virtual-button">турнира "Шахматная осень 2018"</div>
    <p>
        <aside class="flux">
            <ul class="flux-left">
                <h4>Турнир М 2-е ноября</h4>
                <h5>2012 год рождения и младше</h5>
                <li>1-е место - Шевелев Юрий</li>
                <li>2-е место - Соколовский Ярослав</li>
                <li>3-е место - Мезенцев Артем </li>
                <h5>2011 год рождения </h5>
                <li>1-е место - Головастиков Дмитрий </li>
                <li>2-е место - Ваганов Дмитрий</li>
                <li>3-е место - Анисимов Петр</li><br>

                <h4>Турнир М 1-е ноября</h4>
                <li>1-е место - Овчинникова Полина</li>
                <li>2-е место - Сухинина Мила</li>
                <li>3-е место - Гладких Злата</li>
                <h5>2013 год рождения</h5>
                <li>1-е место - Коняев Стефаний</li>
                <li>2-е место - Хорошев Роман</li>
                <li>3-е место - Лучников Стаснислав</li>
                <h5>2012 год рождения и младше</h5>
                <li>1-е место - Латыпов Владислав</li>
                <li>2-е место - Старков Иван</li>
                <li>3-е место - Вяткин Михаил</li>
                <h5>2011 год рождения и старше</h5>
                <li>1-е место - Стародумов Дмитрий</li>
                <li>2-е место - Старков Иван</li>
                <li>3-е место - Вяткин Михаил</li>
            </ul>
            <ul class="flux-right">
                <h4>Турнир Б 2-е ноября</h4>
                <li>1-е место - Лаврентьева Василиса</li>
                <li>2-е место - Малышко Влада</li><br>
                <li>1-е место - Тиунов Артемий</li>
                <li>2-е место - Клоц Александр</li>
                <li>3-е место - Афанасьев Артемий</li><br>

                <h4>Турнир Б 1-е ноября</h4>
                <li>1-е место - Малышко Влада </li>
                <li>2-е место - Басина Анастасия</li><br>
                <li>1-е место - Кузьмин Даниил</li>
                <li>2-е место - Клоц Александр</li>
                <li>3-е место - Чернышев Семен</li>
            </ul>
        </aside>
    </p> -->
    <h2>Предновогодний турнир</h2>
    <h3>&#9817</h3>
</article>
<aside class="full flux"></aside>
</section>

<section style="display: none">
    <div class="meeting">
        <h2>Уважаемые родители !</h2>
        <p>Приглашаем Вас на <b>родительское собрание</b>, которое состоится <b>17 декабря в 19.00</b><br>
            по адресу; ул. Куйбышева, 54.<br>
           <i>Повестка собрания:<br>
        1.Подведение итогов 1 полугодия.<br>
           2.Зимние каникулы.<br>
               <a href="https://drive.google.com/open?id=1UuXx1-U-tqaYYrJhX4pYUAlxSTxjyJ_J" target="_blank">3.Лето (Черное море).</a><br></i>
            <span>С уважением,<br>администрация школы.</span>
        </p>
    </div>
    <img src="../static/images/meeting.jpg">
</section>

<section>
    <h2>Поздравляем Полину Кузнецову!</h2>
    <h3>&#9812</h3>
    <div class="kusnezova">
        <aside></aside>
        <p>Полина завоевала серебрянную медаль на Первенстве Приволжского Федерального Округа!<br>Желаем удачи на Чемпионате России!</p>
    </div>
</section>

<section>
    <h2>Дмитрий Стародумов - Первоклассник года!</h2>
    <h3>&#9813</h3>
    <div class="starodumov">
        <p>Наш воспитанник Дмитрий Стародумов стал Первоклассником года города Перми 2018!<br>Поздравляем и гордимся !!!<br>
        Подробности Вы можете узнать <a href="https://www.youtube.com/watch?v=hwY_TU82Stg&feature=youtu.be" target="_blank" style="color: #FCC835; display: inline-block; font-size: 2rem">ТУТ</a></p>
        <aside></aside>
    </div>
</section>

<section>
    <h2>Внимание родителей!</h2>
    <h3>&#9814</h3>
    <div class="terechin">
        <aside></aside>
        <p>В этом году наш тренер Терехин А.Н. по просьбе Департамента образования Пермского края провел обучение шахматам 92 учителей начальных классов!<br>
        В октябре проведено обучение 9 родителей детей нашей школы.</p>
    </div>
</section>

<section>
    <h2>Шахматная осень</h2>
    <h3>&#9817</h3>
    <div class="autumn">
        <aside class="full"></aside>
        <div>
            <aside class="left"></aside>
            <p>1 и 2 ноября в нашей школе проходили соревнования "Шахматная осень".<br>На фотографиях представлены юные победители!</p>
            <aside class="right"></aside>
        </div>
    </div>
</section>

<section>
    <h2>Путешествие в шахматное королевство</h2>
    <h3>&#9816</h3>
    <slider>
        <div class="slides-container">
            <slide>
                <img src="../static/images/news/quest2.jpg">
                <p>30 и 31 октября прошли квесты <br>"Путешествие в шахматное королевство"</p>
            </slide>
            <slide>
                <img src="../static/images/news/quest1.jpg">
                <p>Пираты Шахматного Королевства<br> добывают себе ключ от сокровищницы!</p>
            </slide>
            <slide>
                <img src="../static/images/news/quest4.jpg">
                <p>Еще больше фотографий <br> вы найдете <a href="https://vk.com/chessschool59" target="_blank" style="color: #FCC835; display: inline-block">ТУТ</a> =)</p>
            </slide>
        </div>
        <div class="arrow-container">
            <span class="arrow arrow-left"></span>
            <span class="arrow arrow-right"></span>
        </div>
        <div class="dots-wrapper">
            <ul class="dots-container">
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </slider>
</section>


<section>
    <h2>Поздравляем Сивочалова Кирилла с блестящим выступление в турнире!</h2>
    <h3>&#9813</h3>
    <div class="sivochkov">
        <aside></aside>
        <p>20 и 21 октября Кирилл Сивочалов выступал на турнире Пермского края по быстрым шахматам.
            Он стал бронзовым призером, будучи на несколько лет младше своих конкурентов.
            Большие победы - не за горами!</p>
    </div>
</section>

<section>
   <h2>Открыта запись на новый учебный год!</h2>
    <h3>&#9812</h3>
    <div class="block n1"><div class="block-content"><img src='../static/images/news/fasad.jpg'>
        <div class="block-text">
            <h4>Шахматная школа</h4><br>
            <p>начинает запись<br>
                на новый 2018/2019 учебный год<br>
                для детей и взрослых<br><br>
                Запись по телефону:<br>
                (342) 239-30-06, 8 (902) 632-42-93<br><br>
                Занятия будут проводиться по адресам:<br>
                ул.Куйбышева 54, ул.Боровая 32
            </p>
            <a href="/admission">Подробнее</a>
        </div>
    </div></div>
</section>

<section>
    <h2>Летние сборы на черноморском побережье в Витязево</h2>
    <h3>&#9817</h3>
    <div class="img n2"></div>
    <ul class="slider sl-1">
        <li class="slide show"><div class="slide-1"></div></li>
        <li class="slide"><div class="slide-2"></div></li>
        <li class="slide"><div class="slide-3"></div></li>
    </ul>
</section>

{% endblock %}

{% block js_func %}
    {{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='js/news.js')}}?v=10" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/slider.js')}}?v=2" ></script>
{% endblock %}
