{% extends "base.html" %}

{% block css_style %}
{{ super() }}
    <link href="{{url_for('static', filename='css/error.css')}}?v=4" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/error_full.css')}}?v=2" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="message smile">
        <h1>Сброс пароля прошел успешно!</h1>
        <h2>На Вашу почту отправлено письмо с новыми персональными данными</h2>
        <img src="../static/icons/smile4.png">
        <a href="/log_in" class="return">Вернуться в личный кабинет</a>
    </div>
{% endblock %}



