{% extends "admin.html" %}

{% block css_style %}
{{ super() }}
    <link href="{{url_for('static', filename='css/m_windows_payments_a.css')}}?v=4" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/information_table.css')}}?v=5" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/information_window.css')}}?v=5" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/sidebar_menu.css')}}?v=10" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/payments_a.css')}}?v=18" rel="stylesheet" type="text/css"/>
    {% block unic_css %}
    {% endblock %}
{% endblock %}


{% block content %}
<section class="admin">
    <div class="personal-data" id="personal-data">
        <ul class="number">
            <li class="title"><span>№</span></li>
            {% for dt in data %}
                    <li>{{ loop.index }}</li>
            {% endfor %}
        </ul>
        <ul class="name">
            <li class="title"><span>Имя ученика</span></li>
            {% for dt in data %}
            <li>{{ dt['name'] }}</li>
            {% endfor %}
        </ul>
        <ul class="price">
            <li class="title"><span>Стоимость<br>занятий</span></li>
            {% for dt in data %}
            <li>{{ dt['usual_price'] }}</li>
            {% endfor %}
        </ul>
        <ul class="previous-month payment">
            <li class="title"><span>Оплата за<br></span></li>
            {% for dt in data %}
            <li>
                <input type="text" value="{{ dt['previous_month_payment'] }}" placeholder="Ожидание">
            </li>
            {% endfor %}
        </ul>
        <ul class="current-month payment">
            <li class="title"><span>Оплата за<br></span></li>
            {% for dt in data %}
            <li>
                <input type="text" value="{{ dt['current_month_payment'] }}" placeholder="Ожидание">
            </li>
            {% endfor %}
        </ul>
        <ul class="recommended-sum">
            <li class="title"><span>Сумма к<br>оплате</span></li>
            {% for dt in data %}
            <li>{{ dt['recommended_sum']}}</li>
            {% endfor %}
        </ul>
        <ul class="student-group">
            <li class="title"><span>Группа</span></li>
            {% for dt in data %}
            <li>{{ dt['student_group']}}</li>
            {% endfor %}
        </ul>
        <ul class="student-teacher">
            <li class="title"><span>Тренер</span></li>
            {% for dt in data %}
            <li>{{ dt['teacher']}}</li>
            {% endfor %}
        </ul>
        <ul class="penalty-checkbox">
            <li class="title"><span>Штраф</span></li>
            {% for dt in data %}
                <li><input type="checkbox" {{ "checked" if dt['penalty'] }}></li>
            {% endfor %}
        </ul>
    </div>
    <div id="sidebar-menu">
            <ul>
                <li class="menu-block search">
                    <input placeholder="Поиск">
                </li>
                <li class="menu-block">
                    <span>Сортировать</span>
                    <ul class="sorting">
                        <li class="checked no-sort">по алфавиту</li>
                        <li class="by-groups">по группам</li>
                    </ul>
                </li>
                <!--<li class="menu-block">
                    <span>Выделить</span>
                    <ul class="highlighting">
                        <li class="no-highlighting">нет выделения</li>
                        <li class="checked debts">должников</li>
                    </ul>
                </li> -->
                <li class="menu-block">
                    <a href="/download_debtors_list" class="excel">
                        <img src="../static/icons/excel.svg">
                        <span>Скачать должников</span>
                    </a>
                </li>
            </ul>
    </div>
</section>
<div class="bg-modal personal-statistics">
    <div class="model-content">
            <button class="close">&times;</button>
            <section>
            <article id="calendar">
                <div class="statistics-content"></div>
                <div class="date">
                    <ul>
                        <li class="arrow arrow-left"></li>
                        <li class="data"><span class="month"></span><span class="year"></span></li>
                        <li class="arrow arrow-right"></li>
                    </ul>
                </div>
                <div class="preloader">
                    <div class="loader"></div>
                    <div class="calendar">
                        <table>
                            <thead>
                            <tr>
                                <th>Пн</th>
                                <th>Вт</th>
                                <th>Ср</th>
                                <th>Чт</th>
                                <th>Пт</th>
                                <th>Сб</th>
                                <th>Вс</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
            <article id="payment-history">
                <span class="checked-student"></span>
                <div class="all-payments">
                    <ul class="sum"><li class="header">Оплата:</li></ul>
                    <ul class="date"><li class="header">Месяц:</li></ul>
                </div>
            </article>
            <article id="penalty-details">
                    <span>Сумма к оплате:</span>
                    <ul>
                        <li><span>За занятия:</span><span></span></li>
                        <li><span>Штраф 10%:</span><span></span></li>
                        <li><span>Итоговая сумма:</span><span></span></li>
                    </ul>
            </article>
        </section>
    </div>
</div>

<div class="bg-modal by-groups">
    <div class="model-content">
        <button class="close">&times;</button>
        <section>
            <article>
                <div class="date">
                    <ul>
                        <li class="data"><span class="month"></span><span class="year"></span></li>
                    </ul>
                </div>
                <span class="checked-group"></span>
                <span class="dop-info"></span>
                <div class="preloader">
                    <div class="loader"></div>
                    <div class="each-group">
                        <ul class="number">
                            <li class="title">Номер</li>
                        </ul>
                        <ul class="name">
                            <li class="title">Имя ученика</li>
                        </ul>
                        <ul class="payment-sum">
                            <li class="title">Заплатил</li>
                        </ul>
                    </div>
                    <aside>
                        <span></span>
                        <span>Итого:</span>
                        <span id="total"></span>
                    </aside>
                </div>
            </article>
        </section>
    </div>
</div>

<div class="bg-modal payment-status">
        <div class="model-content">
            <button class="close">&times;</button>
            <section>
                <article>

                </article>
            </section>
        </div>
    </div>

<div class="visits" style="display: none">
    <ul class="days">
    </ul>
    <ul class="sick-note">
    </ul>
    <ul class="unattended">
    </ul>
</div>
{% endblock %}

{% block js_func %}
    {{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='js/information_table.js')}}?v=3" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/information_window.js')}}?v=8" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/payments_a.js')}}?v=15" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/m_windows_payments_a.js')}}?v=2" ></script>
    {% block unic_js %}
    {% endblock %}
{% endblock %}