{% extends "header_full.html" %}

{% block css_style %}
    {{ super() }}
    <link href="{{url_for('static', filename='css/menu.css')}}?v=9" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/payment_info.css')}}?v=2" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <article>
        <h1>ОПЛАТА С ПОМОЩЬЮ БАНКОВСКОЙ КАРТЫ </h1>
        <img src="../static/images/extra/cards.jpg"/>
        <p> Для оплаты услуги с помощью банковской карты необходимо войти в личный кабинет и на соответствующей странице нажать кнопку «Оплатить».
            Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских кредитных карт следующих платежных систем:</p>
        <ul>
            <li>VISA International</li>
            <li>MasterCard World Wide</li>
        </ul>
        <h2>Описание процесса передачи данных </h2>
        <p>Для оплаты услуги Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее.
            Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.
            В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также
            может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.
            Настоящий сайт поддерживает 258-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк России".
            Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам
            осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</p>
        <h2>Оплата по банковским картам VISA</h2>
        <P>К оплате принимаются все виды платежных карточек VISA, за исключением Visa Electron. В большинстве случаев карта Visa Electron не применима для оплаты через интернет,
            за исключением карт, выпущенных отдельными банками. О возможность оплаты картой Visa Electron вам нужно выяснять у банка-эмитента вашей карты.</P>
        <h2>Оплата по кредитным картам MasterCard</h2>
        <p>На сайте к оплате принимаются все виды MasterCard.</p>
        <h2>Что нужно знать:</h2>
        <ul>
            <li>номер вашей кредитной карты;</li>
            <li>cрок окончания действия вашей кредитной карты, месяц/год;</li>
            <li>CVV код для карт Visa / CVC код для Master Card (3 последние цифры на полосе для подписи на обороте карты)</li>
        </ul>
        <p>Если на вашей карте код CVC / CVV отсутствует, то, возможно, карта не пригодна для CNP транзакций (т.е. таких транзакций, при которых сама карта не присутствует, а
            используются её реквизиты), и вам следует обратиться в банк для получения подробной информации.</p>
    </article>
{% endblock %}

