{% extends "admin.html" %}

{% block css_style %}
{{ super() }}
    <link href="{{url_for('static', filename='css/information_table.css')}}?v=5" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/personal_data.css')}}?v=15" rel="stylesheet" type="text/css"/>
    {% block unic_css %}
    {% endblock %}
{% endblock %}



{% block content %}
<section class="admin">
    <div class="personal-data">
        <ul class="number">
            <li class="title"><span>№</span></li>
            {% for pd in personal_data %}
            <li>{{ loop.index }}</li>
            {% endfor %}
        </ul>
        <ul class="name">
            <li class="title" style="font-weight: normal"><span>Имя</span></li>
            {% for pd in personal_data %}
            <li>{{ pd['name'] }}</li>
            {% endfor %}
        </ul>
        <ul class="phone">
            <li class="title"><span>Номер<br>телефона</span></li>
            {% for pd in personal_data %}
            <li>{{ pd['phone'] }}</li>
            {% endfor %}
        </ul>
        <ul class="parent">
            <li class="title"><span>Родитель</span></li>
            {% for pd in personal_data %}
            <li>{{ pd['parent'] }}</li>
            {% endfor %}
        </ul>
        <ul class="email">
            <li class="title"><span>Электронная<br>почта</span></li>
            {% for pd in personal_data %}
            <li>{{ pd['email'] }}</li>
            {% endfor %}
        </ul>
        <ul class="birthday">
            <li class="title"><span>Дата<br>рождения</span></li>
            {% for pd in personal_data %}
            <li>{{ pd['birthday'] }}</li>
            {% endfor %}
        </ul>
        <ul class="entry">
            <li class="title"><span>Дата<br>поступления</li>
            {% for pd in personal_data %}
            <li>
                <input type="text" value="{{ pd['entry_date'] }}" placeholder="Ожидание">
            </li>
            {% endfor %}
        </ul>
        <ul class="price">
            <li class="title"><span>Стоимость</span></li>
            {% for pd in personal_data %}
            <li>
                <input type="text" value="{{ pd['usual_price'] }}" placeholder="Ожидание">
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

{% block js_func %}
{{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='js/information_table.js')}}?v=3" ></script>
    {% block unic_js %}
    {% endblock %}
{% endblock %}