{% extends "header_full.html" %}

{% block css_style %}
{{ super() }}
    <link href="{{url_for('static', filename='css/program.css')}}?v=1" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/quote.css')}}?v=1" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
{{ super() }}
<article>
    <div class="mb-wrap mb-style-3">
        <div class="mb-thumb"></div>
        <blockquote cite="http://levico.ru/citaty-shaxmaty/">
            <p>На мой взгляд, если считать шахматы игрой, то нет ей равной среди игр по тренировке памяти и логике мышления, по воспитанию выдержки, силы воли
                и других качеств человеческого характера.</p>
        </blockquote>
        <div class="mb-attribution">
            <p class="mb-author">Маршал Советского Союза Конев И.С</p>
        </div>
    </div>
    <p>Нередко при обучении игнорируется системный подход, основное внимание уделяется каким-то одним дисциплинам и при этом практически совершенно не уделяется другим.
        Однако нельзя забывать о важности комплексного подхода к обучению. Мы предлагаем именно это. В нашей школе нет предметов, которые считаются менее важными, относительно
        других. Важно все. Серьезное внимание уделяется всем направлениям, отсюда и название – комплексное интеллектуальное развитие.</p><br>
    <p>Шахматы превосходно развивают ум, однако в реальной жизни важно не только это. Существенную роль в жизненном успехе играют также: интуиция, умение логически и
        стратегически мыслить, хорошая память и внимание. Мы развиваем все эти важные компоненты общего успеха у детей.</p><br>
    <p>В возрасте 4-5 лет у ребенка начинает формироваться логическое мышление и развиваться память, поэтому на этом этапе становления личности необычайно важно задать
        правильное направление всего дальнейшего развития.</p><br>
    <p>Помочь детям – задача родителей и педагогов.</p><br>
    <p>Для этого возраста у нас есть начальный этап подготовки, включающий в себя развивающие игры и упражнения по развитию логики, памяти, внимания и мышления.
        Для иллюстрации нашей работы на данном этапе, рассмотрим игру Реверси. В отличии от шахмат, где существует почти бесконечное количество возможных положений, в
        Реверси таковых значительно меньше. Благодаря знакомству с этой игрой, ребенок на примере, более простом, чем шахматы, узнает о ценности каждого хода,
        подсознательно начиная понимать значения своих шагов и поступков. При этом происходит подготовка к следующей ступени, и развиваются некоторые
        навыки важные для этого возраста.</p><br>
    <p>На первом году обучения основной акцент мы делаем на развитии мышления ребенка и готовим его к обучению шахматам.</p><br>
    <p>В возрасте 6—7 лет ребенок осознаёт себя как личность, начинает понимать, что его действия приводят к определенным последствиям. И каждое последствие может быть
        как положительным, так и отрицательным. Успешность ребенка в игре, как в самостоятельном творчестве, влияет на развитие чувства собственного достоинства.</p><br>
    <p>В этом возрасте увеличивается устойчивость непроизвольного внимания, что приводит к меньшей отвлекаемости детей. Вместе с тем их возможности сознательно управлять
        своим вниманием весьма ограничены. Сосредоточенность и длительность деятельности ребёнка зависит от её привлекательности для него.</p><br>
    <p>В 6—7 лет у детей увеличивается объём памяти, что позволяет им без специальной цели запоминать достаточно большой объём информации, поэтому непроизвольное запоминание
        остаётся наиболее продуктивным до конца дошкольного возраста.</p><br>
    <p>Лучшей игрой для детей этого возраста будут шахматы.</p><br>
    <p>На втором году обучения, когда дети готовы к усвоению более сложного материала, мы начинаем более интенсивные занятия шахматами.</p><br>
    <p>Происходит знакомство с заданиями по шахматной тактике, дети начинают принимать участие в соревнованиях школы, города и края.</p><br>
    <p>В первые два года обучения мы проводим тестирование IQ дважды в год: начальное (в октябре) и итоговое (в мае), а между ними дети систематически выполняют
        задания по развитию интеллекта.</p><br>
    <p>В дальнейшем обучение происходит в зависимости от успеваемости отдельно взятого воспитанника, так как этап совершенствования происходит у каждого по-разному, но
        ориентировочно мы планируем достижение:
    <ul>
        <li>уровня КМС в возрасте 10-11 лет;</li>
        <li>уровня МС в возрасте 13-14 лет;</li>
        <li>уровня ГМ в возрасте 17-18 лет.</li>
    </ul>
    </p><br>
    <p>Кроме того, планируется систематическое участие и завоевание призовых мест на городских, краевых и российских соревнованиях, с возможностью успешного выступленияна
        международной арене.</p><br>
    <p>Постоянные тренировки и участие в турнирах лучше всего развивают и формируют личность спортсмена, молодой человек становится более целеустремленным,
        волевым и заряженным на успех, борьбу и победу.</p><br>
    <p class="phone-numbers">Если у Вас возникли вопросы звоните по телефонам:<br>
        239-30-06 или 8 902 632-42-93 с пн-пт с 9:00 до 17:00
    </p>
</article>
{% endblock %}