{% extends "header_full.html" %}

{% block content %}
    {{ super() }}
    <style>
        .mb-style-3 .mb-thumb {
            background: url('../static/images/articles/obuchenie-cherez-iskusstvo.jpg') no-repeat center center;
        }
        .photo {
            margin-top: 4%;
            border-radius: 10px;
            display: block;
        }
    </style>
     <article>
     <div class="mb-wrap mb-style-3">
            <div class="mb-thumb"></div>
            <blockquote cite="http://levico.ru/citaty-shaxmaty/">
                <p> Посредством шахмат я воспитал свой характер. Шахматы прежде всего учат быть объективным.
                    В шахматах можно сделаться большим мастером, лишь сознав свои ошибки и недостатки.
                    Совершенно также, как в жизни.
                </p>
            </blockquote>
            <div class="mb-attribution">
                <p class="mb-author">Четвертый чемпион мира по шахматам А.А.Алехин</p>
            </div>
        </div>
        <p>Сборы в жизни спортсмена играют важнейшую роль,
            ведь это своего рода тренировка в условиях максимально приближенных к боевым.
            Любые, даже самые усиленные занятия дома не могут заменить то сконцентрированное состояние,
            которое овладевает человеком, когда он находится в местах, отдаленных от дома.
            В таком состоянии во время двух-трех интенсивных недельных сборов вполне можно освоить
            материал почти годовой программы. </p><br><br>
         <p>На Черном море в городе Анапа, в гостевом доме Зиридис, проживая в комфортабельном отеле,
             дети и родители участвуют в увлекательных, спортивных и развлекательных программах и
             осваивают шахматную науку, совместно с ребятами из других регионов России,
             под руководством известных тренеров Гроссмейстерской школы «Шахматные надежды России».
             В течение    14 дней проходят ежедневные двухразовые тренировки по всем разделам шахмат,
             для малышей организованы занятия по логике и памяти.
             После занятий дети с удовольствием играют в футбол, волейбол, теннис, плавают в бассейне,
             вместе с родителями. Во время УТС проводится рейтинг-турнир для ребят постарше.</p><br><br>
        <p>Таким образом, Учебно-тренировочные сборы для наших учеников - это уникальная возможность
            ускорить свое шахматное развитие, став сильнее,
            а для родителей - прекрасная возможность отдохнуть!</p><br>
        <p>Летом 2019 года мы планируем запустить несколько смен. Мы обязательно вернемся в наш Зиридис!</p>
         <img src="{{url_for('static', filename='images/articles/Vityazevo.jpg')}}" class="photo"><br><br>
    </article>
{% endblock %}

