<!DOCTYPE html>
<html style="font-size: 100%; width: 600px; margin: 0 auto; padding: 0; color: #5B3718; font-family: 'Arial Narrow'">
<head>
    <meta charset="UTF-8"/>
    <title>Шахматная школа</title>
</head>

<body>
    <main style="width: 600px; margin: 0 auto; padding: 20px 30px; background-color: #EEB815; font-family: 'Arial Narrow'; color: black;">
        <img src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/gbqCNzyNGjCdbw">
        <article style="width: 536px; margin: 0; padding: 20px 30px; background-color: #FFFFFF; line-height: 35px; border: 3px solid #D9DBDE;">
            <p style="font-size: 32px; text-align: center; font-family: 'Oranienbaum'; color: black">Здравствуйте, {{ parent_name }} !</p>
            <p style="font-size: 20px; text-align: center">Напоминаем Вам, что в соответствии с договором, оплата за занятия в нашей школе производится
                <b>авансовым платежем до 10-го числа текущего месяца.</b> <br>
            Оплата может быть совершена в личном кабинете.</P>
            <div style="margin: 0 auto;">
                <a href="https://www.шахматыпермь.рф/log_in" align="center" style="padding: 2%; margin: 0 auto; width: 300px; border: 3px solid #D9DBDE; display: block; color: black; text-decoration: none;font-size: 20px; background: #EEB815; font-family: Items; cursor: pointer;">ПЕРЕЙТИ В ЛИЧНЫЙ КАБИНЕТ</a></div>
            <p style="font-size: 18px">С уважением,<br>
                Шахматная школа</p>

            <img src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/J24QbLFLC3Ijgg" class="icon" width="100px"><br>

        </article>
    </main>
</body>
